.footer {
    display: flex;
    padding: 24px 20px;
    justify-content: space-between;
    background: var(--Gradient-1, linear-gradient(90deg, #4B7BB3 0.12%, #4D87CC 24.74%, #48B3C5 73.97%, #52C9DC 98.59%));
}

.copy-rights-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.copy-rights-container img {
    width: 10px;
    height: 10px;
    aspect-ratio: 1/1;
}

.copy-rights-container span {
    color: var(--Brand-White, #FFF);
    font-family: Nunito;
    font-size: 0.75rem;
    font-weight: 600;
}

.social-media-container {
    display: flex;
    gap: 24px;
}

@media (min-width: 768px) {
    .footer {
        padding: 24px 40px;
        background: var(--Gradient-1, linear-gradient(90deg, #4B7BB3 0.12%, #4D87CC 24.74%, #48B3C5 73.97%, #52C9DC 98.59%));
    }
    .copy-rights-container img {
        width: 18px;
        height: 18px;
        aspect-ratio: 1/1;
    }
    .copy-rights-container span {
        font-size: 0.875rem;
    }

}

@media (min-width: 1025px) {
    .footer {
        padding: 14px 68px 14px 40px;
        background: var(--Gradient-1, linear-gradient(90deg, #4B7BB3 0.12%, #4D87CC 24.74%, #48B3C5 73.97%, #52C9DC 98.59%));
    }
    .copy-rights-container {
        gap: 12px;
    }
    .copy-rights-container img {
        width: 24px;
        height: 24px;
        aspect-ratio: 1/1;
    }
    .copy-rights-container span {
        font-size: 1.5rem;
    }
    .social-media-container img{
        height: 86px;
        width: 86px;
    }

}